<div class="moderador-wrapper">
  <h2>Usuarios Registrados</h2>

  <table class="tabla-moderador">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Correo</th>
        <th>CURP</th>
        <th>Fecha de Nacimiento</th>
        <th>Rol</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of usuarios">
        <td>{{ u.idUsuario }}</td>
        <td>{{ u.nombre }} {{ u.apellidos }}</td>
        <td>{{ u.correoElectronico }}</td>
        <td>{{ u.curp }}</td>
        <td>{{ u.fechaNacimiento | date:'yyyy-MM-dd' }}</td>
        <td>{{ u.rol }}</td>
      </tr>
    </tbody>
  </table>
</div>
