<app-navbar></app-navbar>

<div class="dashboard">
 
<p> Mis Instrumentos de inversión con mayor seguridad y rentabilidad.</p>
  <!-- Tabs de tipo de activo -->
  <div class="top5-tabs">
    <div class="tab-buttons">
      <button *ngFor="let tipo of tiposActivos"
              [class.active]="tipoActivoSeleccionado === tipo"
              (click)="cambiarTab(tipo)">
        {{ tipo | titlecase }}
      </button>
    </div>
  </div>

  <!-- Render dinámico del componente según selección -->

  <div class="contenedor-activo animate__animated animate__fadeIn">
    

    <app-etfs-compra *ngIf="tipoActivoSeleccionado === 'etfs'"></app-etfs-compra>
    <app-acciones-compra *ngIf="tipoActivoSeleccionado === 'acciones'"></app-acciones-compra>
     <app-cetes-compra *ngIf="tipoActivoSeleccionado === 'cetes'">

     </app-cetes-compra><app-cripto-compra *ngIf="tipoActivoSeleccionado === 'cripto'"></app-cripto-compra>

  </div>
</div>
