<nav class="navbar-custom">
  <div class="logo-area">
    <img src="assets/img/logo.jpg" alt="Safe Capital" class="logo-navbar" />
    <span class="brand-text">Safe Capital Investment</span>
  </div>

  <div class="nav-links" *ngIf="estaLogueado()">
    <a routerLink="/perfil">Mi perfil</a>
    <a routerLink="/deposito">Depósito</a>
    <a routerLink="/retiro">Retiro</a>
    <span class="saldo-usuario">Saldo: {{ obtenerSaldo() }}</span>
    <a (click)="logout()">Cerrar sesión</a>
  </div>

  <div class="nav-links" *ngIf="!estaLogueado()">
    <a routerLink="/login">Entrar</a>
    <a routerLink="/register">Registrarte</a>
  </div>
</nav>
