.grafica-wrapper {
  position: relative;
  padding-top: 30px;
  padding-bottom: 10px;
  background: #000;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 255, 170, 0.2);
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

/* Mover el control de ancho a pantallas grandes */
@media (min-width: 1024px) {
  .grafica-wrapper {
    max-width: 800px;
    margin: auto;
  }

  apx-chart {
    height: 500px !important;
  }
}

.precio-actual {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 18px;
  color: #fff;
}

.precio-actual .valor {
  color: #00ffc8;
  font-size: 20px;
  margin-left: 8px;
  font-weight: bold;
}

/* ApexCharts responsivo */
apx-chart {
  width: 100% !important;
  height: 400px !important;
}

/* Responsivo para móviles */
@media (max-width: 768px) {
  .grafica-wrapper {
    padding: 10px;
    border-radius: 0;
  }

  .precio-actual {
    position: static;
    text-align: center;
    margin-bottom: 10px;
    font-size: 16px;
  }

  apx-chart {
    height: 300px !important;
  }
}
